* {
  box-sizing: border-box;
}

/* cara menambahkan warna merah ala wegodev */
/* :root {
  --main-red-color: #e06262;
}

.main-red-color {
  color: var(--main-red-color);
} */

.color-red {
  color: red;
}

html {
  font-size: 10px;
  font-family: "Homemade Apple", cursive;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  background-color: #2d2d2d;
  height: 100vh;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  width: 600px;
  min-height: 600px;
  background-color: #f2eecb;
  border-radius: 4px;
  margin-top: 70px;
  padding: 32px;
}

.frame {
  border: 1px solid black;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: flex-start;
}

.header-title {
  flex: 1;

  text-align: center;
  font-size: 3.6rem;
  font-family: "Homemade Apple", "sans-serif";
  text-transform: lowercase;
}

.header-btn {
  font-size: 1.8rem;
  font-family: "Bungee", "sans-serif";
  cursor: pointer;
  padding: 16px;
  background: unset;
  border: unset;
  outline: unset;
}

.header-btn:hover {
  color: #4d2a24;
}

.add {
  padding: 16px;
}
.add-form {
  display: flex;
  align-items: center;
}

.add-input {
  background: unset;
  border: unset;
  padding: 0 64px;
  flex: 1;

  border-bottom: 1px solid red;
  outline: unset;

  font-family: "homemade apple", "sans-serif";
  font-size: 16px;
  text-transform: lowercase;
}

.add-btn {
  font-size: 1.8rem;
  font-family: "Bungee", "sans-serif";

  padding: 16px;
  padding-right: unset;
  cursor: pointer;

  background: unset;
  border: none;
  outline: none;
}

.todo {
  display: flex;
  flex-direction: column;
}

.tod {
  position: relative;

  flex: 1 0 auto;
  text-align: center;

  min-height: 34px;
  margin: 16px 0 0;
  font-family: "Homemade apple", "sans-serif";
  font-size: 24px;
  border-bottom: 1px solid red;
}

.tod-text {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
